# Ignore artifacts:
build
coverage

# Ignore config files:
config/database.yml


# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore pidfiles, but keep the directory.
/tmp/pids/*

# Ignore uploaded files in development.
/storage/*
/tmp/storage/*

/public/assets

/app/assets/builds/*
