<div class="bg-gray-50 dark:bg-slate-900 min-h-[100vh]">
  <!-- ========== MAIN CONTENT ========== -->
  <%= render partial: 'shared/sidebar' %>
  <!-- Content -->
  <div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:pl-72">
    <!-- Page Heading -->
    <header>
      <h2 class="block text-xl font-bold text-gray-700 sm:text-2xl dark:text-gray-300 mt-8"><%= @current_user.name %> WorkHours Timeline</h2>
    </header>
    <!-- End Page Heading -->

<!-- End Timeline -->
<!-- End Content -->
<!-- ========== END MAIN CONTENT ========== -->
</div>
