<% content_for :title do %>
   <title>Choose or create an Organization on WorkHours</title>
<% end %>
<% content_for :heading do %>
    WorkHours Organizations
<% end %>

<h3>Choose or create an Organization</h3>

<div class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white mt-8">
  <%= turbo_frame_tag "organizations" do %>
    <%= render @organizations %>
  <% end %>
  <div>
    <%= render "new" %>
  </div>
</div>
